<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book_authorship.book.name %>
</p>

<p>
  <strong>Author tokens:</strong>
  <%= @book_authorship.author.name %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
